*{
  margin: 0;
  padding: 0;
}
.main-title{
  font-size: 50px;
}
.subtitle{
  font-size: 30px;
}
.custom-font{
  font-family: 'Playfair Display SC', serif;
  font-weight: bolder;
  color: white;
}

.center{
  text-align: center;
}

.number-input-juego {
  width: 60%;
}

.simple-border{
  border: 2px solid black;
}

.max-heigth-table {
  height: 425px;
  overflow: scroll;
}


footer > .container-fluid{
  height:100px;
}
